<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sysmanager</property>
    <property name="hibernate.connection.username">sysmanager</property>
    <property name="hibernate.connection.password">sysmanager</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="br/com/sysmanager/model/Estado.hbm.xml"/>
    <mapping resource="br/com/sysmanager/model/Documentos.hbm.xml"/>
    <mapping resource="br/com/sysmanager/model/Bairro.hbm.xml"/>
    <mapping resource="br/com/sysmanager/model/Kits.hbm.xml"/>
    <mapping resource="br/com/sysmanager/model/UnidadeMedida.hbm.xml"/>
    <mapping resource="br/com/sysmanager/model/Usuario.hbm.xml"/>
    <mapping resource="br/com/sysmanager/model/Cliente.hbm.xml"/>
    <mapping resource="br/com/sysmanager/model/TiposEnderecos.hbm.xml"/>
    <mapping resource="br/com/sysmanager/model/Produto.hbm.xml"/>
    <mapping resource="br/com/sysmanager/model/Cidade.hbm.xml"/>
    <mapping resource="br/com/sysmanager/model/Grupos.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
